@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Rubik:wght@300;400;500;600;700;800&display=swap");
:root {
  --primary-bg: #161b22;
  --primary-green: #04e762;
  --primary-red: #dc0073;
}

// 900px
// @media (max-height: 56.25em) {
//   html {
//     font-size: 57%;
//   }
// }

// //1400px
// @media (max-width: 87.5em) {
//   html {
//     font-size: 42%;
//   }
// }

// // 750px
// @media (max-height: 46.8em) {
//   html {
//     font-size: 38%;
//   }
// }

// 1750px
@media (max-width: 1750px) {
  .header_main-cont {
    grid-template-columns: 10vw 18vw 72vw;
  }
}

//1600px
// @media (max-width: 1610px) {
//   .message_main-cont {
//     max-height: 85vh !important;
//   }
// }

// 1400px

@media (max-width: 1400px) {
  html {
    font-size: 55%;
  }

  .header_main-cont {
    grid-template-columns: 11vw 22vw 67vw;
  }

  // .message_main-cont {
  //   max-height: 83vh !important;
  // }
}

//1200px
// @media (max-width: 1210px) {
//   .message_main-cont {
//     max-height: 80vh !important;
//   }
// }

// 1000px

@media (max-width: 1000px) {
  html {
    font-size: 52%;
  }
  .header_main-cont {
    grid-template-columns: 11vw 22vw 67vw;
  }
}
