@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Rubik:wght@300;400;500;600;700;800&display=swap");
:root {
  --primary-bg: #161b22;
  --primary-green: #04e762;
  --primary-red: #dc0073;
}

// 900px
// @media (max-height: 56.25em) {
//   html {
//     font-size: 57%;
//   }
// }

// //1400px
// @media (max-width: 87.5em) {
//   html {
//     font-size: 42%;
//   }
// }

// // 750px
// @media (max-height: 46.8em) {
//   html {
//     font-size: 38%;
//   }
// }

// 1750px
// @media (max-width: 1750px) {
//   // .header_main-cont {
//   //   grid-template-columns: 10vw 18vw 72vw;
//   // }
// }

//1500px
@media (max-width: 1500px) {
  html {
    font-size: 55%;
  }
}

// 1400px

@media (max-width: 1400px) {
  html {
    font-size: 45%;
  }
  .header_main-cont {
    .side-bar {
      width: 7vw;
    }

    .content {
      width: 93vw;
    }
  }

  .slider {
    .houses {
    }

    .dms {
      width: 20vw;
    }
  }
}

//1200px

@media (max-width: 1200px) {
  html {
    font-size: 40%;
  }
}

// 1100px

@media (max-width: 1100px) {
  .header_main-cont {
    .side-bar {
      width: 7vw;
    }

    .content {
      width: 93vw;
    }
  }

  .slider {
    .houses {
      width: 9vw;
    }

    .dms {
      width: 25vw;
    }
  }
}

// 1000px

@media (max-width: 1000px) {
  .header_main-cont {
    .side-bar {
      width: 9vw;
    }

    .content {
      width: 91vw;
    }
  }

  .slider {
    .houses {
      width: 9vw;
    }

    .dms {
      width: 25vw;
    }
  }
}
