//1600px

@media (max-width: 1600px) {
  html {
    font-size: 40%;
  }
}

//1400px

@media (max-width: 1400px) {
  html {
    font-size: 35%;
  }
}

//1200px

@media (max-width: 1200px) {
  html {
    font-size: 30%;
  }
}
